<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <h2>{{ this.show }}</h2>
    <div>
      <label for="title">Username:</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="username"
        required
      />
    </div>
    <div>
      <label for="title">Password:</label>
      <input
        type="password"
        id="type"
        name="type"
        [(ngModel)]="password"
        required
      />
    </div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>
