<div class="container">
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    @if (savedUsername) {
      <h2>Logged in as {{ savedUsername }}</h2>
    }

    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="credentials.username"
        autocomplete="username"
        required
      />
    </div>

    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="credentials.password"
        autocomplete="current-password"
        required
      />
    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>
